/* --------------- search-result --------------- */
.search-result {
  font-size: 16px;

  h2 {
    margin-bottom: 10px;
    font-size: 16px;
    @include font-light();
    color: #4c4c4f;
  }

  ul {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;

    li {
      position: relative;
      padding: 0 0 3px 9px;

      &:before {
        position: absolute;
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #4c4c4f;
        content: '';
      }
    }
  }

  strong {
    display: block;
    margin-bottom: 10px;
    @include font-light();
    color: #be1f2d;
  }

  .site__search {
    position: relative;
    width: 100%;
  }

  &__item {
    padding-top: 20px;
    font-size: 16px;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #be1f2d;

    img {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 21px;
      margin-right: 10px;
    }
  }

  &__link {
    display: inline-block;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #176697;

    &:hover { text-decoration: underline; }
  }
}

@media (min-width: $small) {
  .search-result {

  }
}

@media (min-width: $medium) {
  .search-result {
    max-width: 525px;
    padding: 10px 0 0 25px;

    p {
      padding-bottom: 18px;
    }

    h2,
    strong {
      margin-bottom: 18px;
    }

    ul {
      padding-left: 20px;
    }

    .site__search {
      margin-bottom: 18px;

      input {
        width: calc(100% - 53px);
        padding: 0 13px;
      }

      button[type=submit] {
        width: 53px;
      }
    }
  }
}

@media (min-width: $large) {
  .search-result {

  }
}
/* --------------- /search-result --------------- */
